
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}



ul,
ol {
  margin: 0;
  padding: 0;
}


html {
    scroll-behavior: smooth;
  }
  
 

  nav{
    background-color: #dbd5ca;
  }
  .fixed-top{
    box-shadow: 0 0.125rem 0.675rem rgba(3 3 3 /5%);
  }
 .navbar{
    padding: 1.6rem 0;
 }
 nav .ul_1{
    margin-left: 5rem;
 }
 nav .ul_1 .nav-item a{
color: rgb(53, 30, 30);
font-weight: 600;
font-size: 1.1rem;
 }
 nav .ul_1 .nav-item{
    padding: 0 .4rem;
 }
 

 nav .ul_2 .nav-item{
    padding: 0 .5rem;
    
 }
 nav .ul_2 .nav-item .nav-link {
  display: none;
  color: rgb(53, 30, 30);
  font-weight: 600;
  font-size: 1.2rem;
 
 }
 .navbar-toggler:focus {
  box-shadow: none;
}
 .dropdown{
    position: unset;
   
 }
 .dropdown-menu{
    min-width: 100%;
    border: none;
    background-color: #dbd5ca;
    padding: 1.6rem 2rem;
    padding-left: 31rem;
    box-shadow: 0 0.125rem 0.675rem rgba(0, 0, 0, 0.089);
 }
 .dropdown-menu.show {
    display: flex;
    text-align: center;
} 
 

  

  /* =====================
       sec-1
    ======================= */

     .sec-1{
      background: #dbd5ca;
      position: relative;
    
    }
  .row{
    --bs-gutter-x: -7.5rem;
  }
  .sec-1 .box-1{
    position: relative;
  }
  .part-1-inner-content .img-1 img{
 position: absolute;
 top: 0px;
  }
  .part-1-inner-content button{
    background: transparent;
    border: none;
    color: #B03725;
    padding-top: 3.5rem;
    font-size: 1.3rem;
    font-weight: 500; 
    margin-bottom: 1rem;
  }
.sec-1-info-box{
background:   #ae9784;
position: relative;
top: 21rem;
left: 4rem;
}
.sec-1-info-box .inner-text{
  padding-top: 23rem;
  padding-left: 2rem;
  padding-right: 4.5rem;

}
.sec-1-info-box .inner-text h3{
color: white;
font-size: 1.3rem;
font-weight: 400;
line-height: 1.8rem;
word-spacing: 4px;

}


/* 
=================
      sec-2
==================== */
.sec-2{
  background-color: #fcfaf7;
position: relative;
overflow: hidden;
padding-bottom: 1.8rem;

}

.row-2 {
  --bs-gutter-x: 0rem;

}
.row-3 {
  --bs-gutter-x: 1rem;
  margin-left: calc(var(--bs-gutter-x) * .5);
}
.col_3{
  margin-top: 33.1rem;
}
.col_3 h1{
  color: #bebab6;
position: absolute;
font-size: 140px;
top: 270px;
right: -33rem;
 
}

/* ==============
    sec-3
================== */
.sec-3{
  background-color: #dbd5ca;
  position: relative;
}
.row-4 {
  --bs-gutter-x: -5rem;
}
.sec-3-part-2-inner img{
  padding-top: 18rem;
}
.sec-3-part-1-inner{
  position:absolute;
}
.sec-3-part-1-inner img{
 padding-top: 9rem;
 width: 44.5%;
}
.sec-3-part-1-inner h3{
  padding-right: 1015px;
  font-size: 1.2764rem;
  color: rgb(114, 65, 50);
  line-height: 1.8rem;
  word-spacing: 4px;
  margin-top: 1.5rem;
}
.sec-3-part-1-inner h1{
  color: rgb(83, 47, 36);
   font-size: 4.5rem;
   font-weight: 400;
   letter-spacing: 5px;
   margin-left: 19.2rem;
   
}
.sec-3-part-1-inner h2{
  color: #f8f7f7;
  font-size: 9rem;
  font-weight: 400;
  word-spacing: 15px;
  margin-left: 4rem;
  letter-spacing: 4px;
}
.sec-3-part-2-inner button{
  background: transparent;
  border: none;
color: #B03725;
font-size: 1.4rem;
margin-top: 5rem;
margin-left: 30rem;
font-weight: 500;
margin-bottom: 2rem;

}
.row-5 {
  --bs-gutter-x: -5.5rem;
}
#img-2{
  margin-left: 12px;
}
#img-3{
  margin-left: 23px;
}
#img-4{
 
  width: 200px;
  margin-left: 32px;
}
.newsletter-inner{
  padding-top: 5.6rem;
}
.newsletter-inner p{
  padding-top: 1rem;
  font-size: .9rem;
  font-weight: 600;
  color: #8b493fa1;
}
.newsletter-inner input{
  background: transparent;
  border-bottom: 1px solid  #413122;
width: 53%;
outline: none;
border: none;
}
.newsletter-inner input:focus{
  box-shadow: none;

}
::-webkit-input-placeholder{
  color: #a15246bd;
  font-size: .8rem;
  letter-spacing: 1px;
}
.newsletter-inner button{
background: transparent;
border: none;
color: #DBD5CA;
padding: .3rem 1.5rem;
background: #413122;

}
.newsletter-inner button i{
margin-left: .3rem;
}
.links-inner p{
padding-top: 7.8rem;
color: #8b493fa1;
font-size: 1rem;
font-weight: 500;
}
.links-inner ul{
  display: flex;
  justify-content: end;
  margin-top: 3rem;
}
.links-inner ul li{
  padding: 0 .4rem;
}
.links-inner ul li i{
  padding: .6rem;
  padding-top: .4rem;
  padding-bottom: .4rem;

  background: #413122;
  color: #DBD5CA;
  font-size: 1.5rem;
}
footer{
  background-color: #dbd5ca;
  padding-top: 5.3rem;

}
footer ul li a{
  color: #413122;
  font-weight: 500;
  font-size: .9985rem;
}
footer ul li{
  padding: .4rem 0;
}
.space{
  padding-top: 9rem;
  padding-bottom: 3rem;
}